<meta property="og:site_name" content="{{& package.long_name}}" />
<meta property="og:title" content="{{& package.long_name}}" />
<meta property="og:type" content="profile" />
<meta property="og:image" content="assets/icon/icon-1024.png" />
<meta property="og:url" content="https://resume.orleans.io" />
<meta property="og:description" content="{{& package.description}}" />

<meta property="og:profile:first_name" content="{{package.author.first_name}}" />
<meta property="og:profile:last_name" content="{{package.author.last_name}}" />
