<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>{{& package.long_name}}</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#920000">

  {{> ../fragments/open-graph }}

  {{> ../fragments/icons }}

  <link rel="manifest" href="manifest.json">

  <link href="style/index.css" rel="stylesheet">
  <link href="style/browser.css" rel="stylesheet" media="screen">
  <link href="style/printer.css" rel="stylesheet" media="print">

  {{> ../fragments/analytics }}

  <script type="text/javascript" src="scripts/bundle.js" async></script>
</head>

<body>

  <div class="resume">
    <header>
      <div class="name" id="header">
        <div class="name-container">
          {{package.author.name}}
        </div>
      </div>

      <div class="description">
        <span class="summary">{{package.short_description}}</span>
        —
        {{package.description}}
      </div>
    </header>

    {{> sidebar }}

    <div class="content">
      {{#sections}}
      <section>
        <header>{{title}}</header>

        <ul>
        {{#items}}
          <li class="item">
            <div class="title-line">
              <div class="title">
                {{& title}}
              </div>
              <div class="location-duration">
                {{& location}} — {{& duration}}
              </div>
            </div>
            {{#description.length}}
              <ul class="description">
                {{#description}}
                <li>{{& .}}</li>
                {{/description}}
              </ul>
            {{/description.length}}
            {{^description.length}}
              {{#description}}
              <p class="description">
                {{& description}}
              </p>
              {{/description}}
            {{/description.length}}
          </li>
        {{/items}}
        </ul>
      </section>
      {{/sections}}

      {{> skills}}
    </div>

  </div>

</body>

</html>
