<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Louis Orleans' Résumé</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#920000">

    {{> ../fragments/icons }}

    <link rel="manifest" href="manifest.json">

    <link href="style/index.css" rel="stylesheet">

    {{> ../fragments/analytics }}

    <script type="text/javascript" src="scripts/main.js" async></script>
  </head>

  <body>

    <div class="resume">

      <div class="sidebar" id="sidebar">
        <div class="name" id="header">
          <div class="name-container">
            {{header.name}}
          </div>
        </div>

        <div class="contact">
          {{#header.address}}
            <div class="address">
              <address>{{& header.address}}</address>
              <i class="material-icons">home</i>
            </div>
          {{/header.address}}
          {{#header.phone}}
            <div class="phone">
              <a href="tel:+{{header.phone_clean}}">{{header.phone}}</a>
              <i class="material-icons">phone</i>
            </div>
          {{/header.phone}}
          {{#header.email}}
            <div class="email">
              <a href="mailto:{{header.email}}">{{header.email}}</a>
              <i class="material-icons">mail</i>
            </div>
          {{/header.email}}
          {{#header.website}}
            <div class="url">
              <a href="{{& header.website}}">{{header.website}}</a>
              <i class="material-icons">public</i>
            </div>
          {{/header.website}}
          {{#header.github_username}}
            <div class="github">
              <a href="https://github.com/{{header.github_username}}">github/{{header.github_username}}</a>
              <i class="material-icons">code</i>
            </div>
          {{/header.github_username}}
        </div>

        <div class="footer">
          <div class="buttons">
            <button onclick="window.print()" class="icon-only">
              <i class="material-icons">printer</i>
            </button>
          </div>
          <div class="version">
            {{#header.github_username}}
              <a href="https://github.com/{{header.github_username}}/resume/releases/tag/v{{& package.version}}">
                v{{package.version}}
              </a>
              - {{date}}
            {{/header.github_username}}
            {{^header.github_username}}
              v{{package.version}} - {{date}}
            {{/header.github_username}}
          </div>
        </div>

        <img src="/assets/img/920000.png" class="background">
      </div>

      <div class="content">

        <section>
          <header>Experience</header>

          <ul>
            {{#experience}}
              <li>
                <div class="title-line">
                  <div class="title">
                    {{& title}}
                  </div>
                  <div class="location-duration">
                    {{& location}} — {{& duration}}
                  </div>
                </div>
                {{#description}}
                  <p class="description">
                    {{& description}}
                  </p>
                {{/description}}
              </li>
            {{/experience}}
          </ul>
        </section>

        <section>
          <header>Accomplishments</header>

          <ul>
            {{#accomplishments}}
              <li>
                <div class="title-line">
                  <div class="title">
                    {{& title}}
                  </div>
                  <div class="location-duration">
                    {{& location}} — {{& duration}}
                  </div>
                </div>
                {{#description}}
                  <p class="description">
                    {{& description}}
                  </p>
                {{/description}}
              </li>
            {{/accomplishments}}
          </ul>

        </section>

        <section>
          <header>Education</header>

          <ul>
            {{#education}}
              <li>
                <div class="title-line">
                  <div class="title">
                    {{& title}}
                  </div>
                  <div class="location-duration">
                    {{& location}} — {{& duration}}
                  </div>
                </div>
                {{#description}}
                  <p class="description">
                    {{& description}}
                  </p>
                {{/description}}
              </li>
            {{/education}}
          </ul>
        </section>

        <section>
          <header>Skills</header>

          <ul class="skills">
            {{#skills}}
              <li>{{.}}</li>
            {{/skills}}
          </ul>
        </section>

      </div>

    </div>

  </body>
</html>
