<div id="sidebar-contact" class="sidebar-part">
  {{#header.address}}
  <div class="address">
    <address>{{& header.address}}</address>
    <i class="mdi mdi-home">home</i>
  </div>
  {{/header.address}}
  {{#package.author.email}}
  <div class="email">
    <a href="mailto:{{package.author.email}}" name="Email">{{package.author.email}}</a>
    <i class="mdi mdi-email">email</i>
  </div>
  {{/package.author.email}}
  {{#header.phone}}
  <div class="phone">
    <a href="tel:+{{header.phone_clean}}" name="Phone">{{header.phone}}</a>
    <i class="mdi mdi-phone">phone</i>
  </div>
  {{/header.phone}}
  {{#package.author.url}}
  <div class="url">
    <a href="{{& package.author.url}}" name="Website">{{package.author.url_pretty}}</a>
    <i class="mdi mdi-earth">earth</i>
  </div>
  {{/package.author.url}}
  {{#package.homepage}}
  <div class="url print-only">
    <a href="{{& package.homepage}}" name="Résumé">{{package.homepage_pretty}}</a>
    <i class="mdi mdi-file">file</i>
  </div>
  {{/package.homepage}}
  {{#header.github_username}}
  <div class="github">
    <a href="https://github.com/{{header.github_username}}" name="GitHub">{{header.github_username}}</a>
    <i class="mdi mdi-github-circle">github</i>
  </div>
  {{/header.github_username}}
</div>

<div id="sidebar-info" class="sidebar-part">
  <div class="large-screen-only">
    {{> skills }}
  </div>

  <div class="footer">
    <div class="buttons">
      <button onclick="window.pdfPrint()" class="icon-only">
        <i class="mdi mdi-printer">printer</i>
      </button>
    </div>
    <div class="version">
      {{#header.github_username}}
      <a href="https://github.com/{{header.github_username}}/{{package.name}}/releases/tag/v{{& package.version}}"
        name="GitHub Résumé">v{{package.version}}</a>
      - {{date}}
      {{/header.github_username}}
      {{^header.github_username}}
      v{{package.version}} - {{date}}
      {{/header.github_username}}
    </div>
  </div>
</div>

<div id="sidebar-background" class="sidebar-part large-screen-only"></div>
