<div class="skills">
  <section>
    <header>Skills / Tools</header>
    <ul>
      {{#skills}}
      <li>{{.}}</li>
      {{/skills}}
    </ul>
  </section>
  <section>
    <header>Languages</header>
    <ul>
      {{#languages}}
      <li>{{.}}</li>
      {{/languages}}
    </ul>
  </section>
</div>
