@import 'variables';
@import 'functions';

html {
  background-color: color($colors, background-color-back);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: color($colors, primary-muted);
  color: color-contrast($colors, primary-muted);
}

.resume {
  font-family: 'Roboto Condensed', sans-serif;

  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 0;

  background-color: color($colors, white);

  font-size: 0.85rem;
}

a {
  color: color($colors, black);

  transition: color $transition-speed;

  &:hover {
    color: color($colors, primary-muted);
  }
}

.name {
  margin: 2rem 0;

  font-size: 3rem;
  font-weight: 500;

  &,
  &.name-container {
    transform-origin: center top;

    will-change: transform;
  }

  &.small-header {
    left: -1rem;
    right: -1rem;

    border-bottom: solid color($colors, primary) 1rem;

    @include shadow-depth(3);

    transition: box-shadow $transition-speed;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 0 0.5rem 0.3125rem;
  max-width: 200px;

  color: color-contrast($colors, primary-muted);
  background-color: color($colors, primary-muted);

  border-right: solid color($colors, primary) 0.5rem;

  text-align: right;

  ::selection {
    background-color: color($colors, background);
    color: color-contrast($colors, background);
  }

  a {
    color: color-contrast($colors, primary-muted);
  }

  .contact {
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;

    > * {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0.3125rem 0;

      .mdi {
        margin-top: -0.1rem;
        margin-left: 0.5rem;
      }
    }
  }

  .footer {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 0.25rem;

    .version {
      opacity: 0.75;
    }
  }

  address {
    min-width: 9rem;
    font-style: normal;
  }

  > * {
    z-index: 1;
  }

  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.skills {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline;

      &::after {
        content: ',';
      }

      &:last-of-type {
        &::after {
          content: '';
        }
      }
    }
  }
}

.content {
  padding: 0.625rem 0.9375rem;

  color: color($colors, text-color);
  background-color: color($colors, background-color);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    p {
      margin-top: 0.1rem;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .title-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-weight: 700;
    }

    .location-duration {
      color: color($colors, medium);
    }
  }

  .skills {
    display: none;
  }
}

section {
  header {
    margin-bottom: 0.3rem;

    font-size: 1.1rem;
    color: color($colors, primary);
    text-transform: uppercase;
  }

  font-size: 0.9rem;

  margin-bottom: 0.9rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.buttons {
  button {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border: none;

    font-size: 1rem;
    color: white;
    background-color: transparent;

    cursor: pointer;
    outline: none;

    &.icon-only {
      position: relative;
      width: 3rem;
      height: 3rem;
      padding: 0.75rem;

      user-select: none;
      overflow: hidden;

      > * {
        position: relative;
        z-index: 2;
      }

      &::after {
        content: ' ';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        transform: scale3d(0, 0, 1);

        transition: transform $transition-speed;
      }

      &:active {
        &::after {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}

.mdi {
  font-size: 0;

  &::before {
    font-size: 1.5rem;
  }
}

@media (max-width: $max-page-width) {
  .resume {
    min-height: 100%;
  }
}
