@import 'variables';
@import 'functions';

html {
  background-color: color($colors, medium);
}

.resume {
  font-family: 'Roboto Condensed', sans-serif;

  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 0;

  background-color: color($colors, white);

  font-size: 0.5em;
}

a {
  color: color($colors, black);

  transition: color $transition-speed;

  &:hover {
    color: color($colors, primary-muted);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 0 0.5rem 0.3125rem;

  // color: color-contrast($colors, primary);
  color: color($colors, white);
  background-color: color($colors, primary-muted);

  border-right: solid color($colors, primary) 0.5rem;

  text-align: right;

  a {
    color: color($colors, white);
  }

  .name {
    margin: 2rem 0;

    font-size: 3rem;
    font-weight: 100;

    &,
    &.name-container {
      transform-origin: center top;

      will-change: transform;
    }

    &.small-header {
      left: -1rem;
      right: -1rem;

      border-bottom: solid color($colors, primary) 1rem;

      @include shadow-depth(3);

      transition: box-shadow $transition-speed;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;

    > * {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0.3125rem 0;

      .material-icons {
        margin-top: -0.1rem;
        margin-left: 0.5rem;
      }
    }
  }

  address {
    min-width: 9rem;
    font-style: normal;
  }

  > * {
    z-index: 1;
  }

  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.content {
  padding: 0.625rem 0.9375rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    p {
      margin-top: 0.1rem;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .title-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-weight: 700;
    }

    .location-duration {
      color: color($colors, medium);
    }
  }
}

section {
  header {
    margin-bottom: 0.3rem;

    font-size: 1.1rem;
    color: color($colors, primary);
    text-transform: uppercase;
  }

  font-size: 0.9rem;

  margin-bottom: 0.9rem;

  &:last-child {
    margin-bottom: 0;
  }
}

ul.skills {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline;

    &::after {
      content: ',';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.material-icons {
  font-size: 1.5rem;
}

@media (max-width: $max-page-width) {
  .resume {
    min-height: 100%;
  }
}
