@import 'variables';
@import 'functions';

@media print {
  .sidebar {
    color: color($colors, white) !important;
    background-color: color($colors, primary-muted) !important;
    -webkit-print-color-adjust: exact;

    .background {
      display: block !important;
    }
  }
}

@media print and (min-width: 34rem) {
  html {
    font-size: 15px;
  }
}

@media print and (min-width: 46rem) {
  html {
    font-size: 14px;
  }
}
