@import 'colors';
@import 'functions';

@media print {
  .sidebar {
    color: color($colors, white) !important;
    background-color: color($colors, primary-muted) !important;
    -webkit-print-color-adjust: exact;

    .background {
      display: block !important;
    }
  }
}
