@import 'variables';
@import 'functions';

@media screen {
  .resume {
    max-width: $max-page-width;

    margin: 0 auto;
  }

  .print-only {
    display: none !important;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: color($colors, background-color-back-dark);
  }

  .resume,
  .content {
    color: color($colors, text-color-dark);
    background-color: color($colors, background-color-dark);

    a {
      color: color($colors, text-color-dark);
    }

    .title-line .location-duration {
      color: color($colors, medium-light);
    }

    ul .item ul.description li::before {
      background-color: color($colors, text-color-dark);
    }
  }
}

@media screen and (min-width: calc(#{$max-page-width} + 1px)) {
  .resume {
    margin: 1rem auto;

    @include shadow-depth(3);
  }
}

@media screen and (min-width: 35rem) {
  .large-screen-only {
    display: unset;
  }

  .small-screen-only {
    display: none;
  }
}

@media screen and (max-width: 35rem) {
  .large-screen-only {
    display: none;
  }

  .small-screen-only {
    display: unset;
  }

  .resume {
    display: flex;
    flex-direction: column;
    gap: unset;

    > :nth-child(2) {
      padding-top: 4.5rem;
    }
  }

  .sidebar-part {
    color: color-contrast($colors, primary-muted);
    background-color: color($colors, primary-muted);
  }

  .name {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 1rem 0;
    z-index: 2;

    text-align: center;

    color: color-contrast($colors, primary-muted);
    background-color: color($colors, primary-muted);

    &.small-header {
      left: -1rem;
      right: -1rem;

      border-bottom: solid color($colors, primary) 1rem;

      @include shadow-depth(3);

      transition: box-shadow $transition-speed;
    }
  }

  #sidebar-contact {
    flex-flow: row wrap;
    justify-content: center;

    padding-left: 1rem;
    padding-right: 1rem;

    > * {
      padding: 0.3125rem 0.9375rem;
      flex-direction: row-reverse;
      text-align: left;
      text-align: start;

      .mdi {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }

  #sidebar-info {
    border-bottom: solid color($colors, primary) 0.5rem;

    .footer {
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
  }

  .content {
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 22rem) {
  .sidebar {
    .contact {
      justify-content: flex-start;

      > * {
        flex-grow: 1;
      }
    }
  }
}
