@import 'fonts';
@import 'browser';
@import 'printer';
@import 'colors';
@import 'functions';

html {
  background-color: color($colors, medium);
}

body {
  font-family: 'Roboto Condensed', sans-serif;

  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;

  margin: 0;

  background-color: color($colors, white);

  font-size: 0.5em;
}

a {
  color: color($colors, black);

  transition: color $transition-speed;

  &:hover {
    color: color($colors, primary-muted);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 2rem 0.5rem 0.3125rem;

  // color: color-contrast($colors, primary);
  color: color($colors, white);
  background-color: color($colors, primary-muted);

  border-right: solid color($colors, primary) 0.5rem;

  text-align: right;

  a {
    color: color($colors, white);
  }

  .name {
    margin-bottom: 2rem;

    font-size: 3rem;
    font-weight: 100;
  }

  .contact {
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;

    > * {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0.3125rem 0;

      .material-icons {
        margin-top: -0.1rem;
        margin-left: 0.5rem;
      }
    }
  }

  address {
    min-width: 9rem;
    font-style: normal;
  }

  > * {
    z-index: 1;
  }

  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.content {
  padding: 0.625rem 0.9375rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .title-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title {
        font-weight: 700;
      }

      .location-duration {
        color: color($colors, medium);
      }
    }

    p {
      margin-top: 0.1rem;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}

section {
  header {
    margin-bottom: 0.3rem;

    font-size: 1.1rem;
    color: color($colors, primary);
    text-transform: uppercase;
  }

  font-size: 0.9rem;

  margin-bottom: 0.9rem;
}

ul.skills {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline;

    &::after {
      content: ',';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.material-icons {
  font-size: 1.5rem;
}

@media screen {
  body {
    max-width: 70rem;

    margin: 0 auto;
  }
}

@media screen and (min-width: 70rem) {
  body {
    margin: 1rem auto;

    @include shadow-depth(3);
  }
}

@media screen and (max-width: 45em) {
  body {
    flex-direction: column;
  }

  .sidebar {
    border-bottom: solid color($colors, primary) 0.5rem;
    border-right: none;
    text-align: center;

    .contact {
      flex-flow: row wrap;
      justify-content: center;

      > * {
        padding: 0.3125rem 0.9375rem;
        flex-direction: row-reverse;
        text-align: left;
        text-align: start;

        .material-icons {
          margin-left: 0;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 22em) {
  .sidebar {
    .contact {
      justify-content: flex-start;

      > * {
        flex-grow: 1;
      }
    }
  }
}
