@import 'variables';
@import 'functions';

@media print {
  @page {
    margin: 0 !important;
    size: letter portrait;
    marks: none;
  }

  html {
    color-adjust: exact;
  }

  .sidebar {
    color: color($colors, white) !important;
    background-color: color($colors, primary-muted) !important;
    -webkit-print-color-adjust: exact;

    .background {
      display: block !important;
    }
  }

  .buttons {
    display: none;
  }

  header,
  .title-line {
    break-after: avoid;
    page-break-after: avoid;
  }

  section li {
    break-inside: avoid;
    break-inside: avoid-page;
  }

  .print-only {
    display: initial;
    display: unset;
  }
}

$chrome-print-width: 5.9in;
@media print and (max-width: $chrome-print-width) and (min-width: $chrome-print-width - 0.2in) {
  html {
    font-size: 15px;
  }
}
@media print and (min-width: $chrome-print-width) and (max-width: $chrome-print-width + 0.2in) {
  html {
    font-size: 16px;
  }
}

$safari-print-width: 15in;
@media print and (max-width: $safari-print-width) and (min-width: $safari-print-width - 0.2in) {
  html {
    font-size: 13px;
  }
}
