@import 'variables';
@import 'functions';

@media print {
  @page {
    margin: 0 !important;
    size: letter portrait;
    marks: none;
  }

  html {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .resume {
    min-height: 100%;
  }

  .sidebar-part,
  .sidebar-part a {
    color: color($colors, black) !important;
  }

  .sidebar-part section header {
    color: color($colors, black);
  }

  #sidebar-background {
    background-color: transparentize(color($colors, primary-muted), 0.95);
    border-right-color: color($colors, primary);
  }

  .buttons {
    display: none;
  }

  header,
  .title-line {
    break-after: avoid;
    page-break-after: avoid;
  }

  section li {
    break-inside: avoid;
    break-inside: avoid-page;
  }

  .print-only {
    display: initial;
    display: unset;
  }
}

$chrome-print-width: 5.9in;
$margin: 0.2in;
@media print and (min-width: max($chrome-print-width - $margin, 0)) {
  html {
    font-size: 15px;
  }
}
@media print and (max-width: $chrome-print-width + $margin) {
  html {
    font-size: 16px;
  }
}

$safari-print-width: 15in;
@media print and (max-width: $safari-print-width) and (min-width: max($safari-print-width - $margin, 0)) {
  html {
    font-size: 13px;
  }
}
